.product-page {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically aligns the image and table */
  justify-content: space-between; /* Adds spacing between image and table */
  /* gap: 20px; Optional: Adds space between the two elements */
  padding: 20px;
}

.product-image img {
  max-width: 100%; /* Adjust image size */
  height: 110%;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
}

.product-table {
  max-width: 100%; /* Adjust table size */
  overflow: auto;
}

.dtp {
  width: 100%;
  padding-left: 20px;
}
.product-heading {
  font-size: 1.8rem;
  color: var(--accent-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-family: var(--default-font);
  font-size: 0.9rem; /* Reduce table font size */
  overflow-x: auto;
}

th,
td {
  border: 1px solid var(--divider-color);
  padding: 8px;
}

th {
  background-color: var(--white-color); /* White background for header */
  color: var(--accent-color); /* Blue text color for header */
  font-weight: bold;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10),
td:nth-child(11) {
  background-color: var(--secondary-color); /* Grey background */
  color: var(--accent-color); /* Blue text */
}

tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
}

tbody tr:nth-child(odd) {
  background-color: var(--white-color);
}

/* tbody tr:hover {
  background-color: var(--orange-color);
  color: var(--white-color);
} */

td:first-child {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: bold;
}

.grey-cell {
  background-color: var(--text-color);
}

.orange-cell th {
  color: var(--white-color);
  background-color: var(--orange-color);
}

.mheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
}

#pd9 {
  padding-right: 20px;
  width: 600px;
}

#pd9t {
  width: 95%;
}
@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: center;
  }

  .product-image {
    display: flex;
    flex-direction: column; /* Ensures the image and sub-table are stacked vertically */
    align-items: center; /* Centers all children (image and sub-table) horizontally */
    justify-content: center; /* Optional: centers elements vertically */
    width: 100%; /* Ensures the container spans the full width */
    text-align: center; /* Aligns the sub-table or any text content centrally */
  }

  .product-image img {
    max-width: 80%; /* Ensures the image doesn't exceed 80% of its container */
    margin-bottom: 1rem; /* Adds spacing between the image and the sub-table */
  }

  .product-table {
    max-width: 100%;
  }

  table {
    font-size: 0.8rem;

    overflow-x: scroll !important;
  }

  .mheading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    font-size: small;
  }
}
